@import url('fonts/Roboto/Roboto-Light.ttf');
@import url('fonts/Roboto/Roboto-LightItalic.ttf');
@import url('fonts/Roboto/Roboto-Medium.ttf');
@import url('fonts/Roboto/Roboto-MediumItalic.ttf');
@import url('fonts/Roboto/Roboto-Bold.ttf');
@import url('fonts/Roboto/Roboto-BoldItalic.ttf');

html,body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #808080;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

input[type=number] {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.2em;
  width: 2em;
}

.inline-block {
  display: inline-block;
}

.full-height {
  height: 100%;
}

#react-container {
  height: 100%;
}

#wrapper {
  height: 100%;
  display: flex;
  align-items: stretch;
}

#toolbar {
  flex: 0 0 32px;
  background-color: #c0c0c0;
}

#toolbar button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #e0e0e0;
  margin: 0;
  padding: 2px;
  width: 32px;
  height: 32px;
  text-align: center;
  -webkit-appearance: none;
  outline: none;
  -webkit-outline: none;
}

#toolbar button img {
  max-width: 100%;
  max-height: 100%;
}

#toolbar button.active {
  background-color: #a0a0a0;
}

#toolsettings {
  padding: 0.3em;
}

#main {
  flex: 1 1 1px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

#tabs {
  flex: 0 0 20px;
  background-color: #606060;
}

#canvas-container {
  flex: 1 1 1px;
}

#palettes {
  flex: 0 0 200px;
  background-color: #a0a0a0;
}
